/* main container*/
.container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.input-group {
    margin-left: auto;
    margin-right: auto;
}

/* board side */
#board {
    background-color: #eee;
    display: grid;
}

.cube {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.selectedBall {
    position: absolute;
    border-radius: 50%;
    opacity: 60%;
    width: 35px;
    height: 35px;
}

/* colors for balls */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}